<a href="https://colab.research.google.com/github/kim1minjii/pythondemo/blob/master/python_02_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import this

In [ ]:
import antigravity

In [ ]:
antigravity

### keyword.kwlist

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### len()
갯수 확인

In [ ]:
len(keyword.kwlist)

35

In [ ]:
print('Hello World')

Hello World

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("python") print("module")

SyntaxError: ignored

In [ ]:
print("python"); print("module")

In [ ]:
a = 10; b = 20
if(a==10) and \
  (b==20):
    print("OK")

In [ ]:
pen=ko=100
print(pen)
print(ko)

In [ ]:
language = 'korea'
body = "tag"
print(language)
print(body)

### eval()

print 없이 사용 가능하다.

In [ ]:
a = 1
a = eval('a + 4')
a

In [ ]:
a = 1
a = eval('a + 4')
print(a)

### 타입 찾기
type()

변경 가능형(mutable)
변경 불가능형(immutable) 구분하기

In [ ]:
type(5)

In [ ]:
type(85.3)

In [ ]:
type([1,5,8])

In [ ]:
type((2,6,7))

### dir()
문자열 내장함수 검색

In [ ]:
dir(str)

In [ ]:
dir(int)

### help()

자료형에서 제공하는 메소드 사용법 검색

In [ ]:
help(str.index)

### j가 기본

In [ ]:
data = 1 + 2j
data.real

In [ ]:
data.imag

### 최대값

In [ ]:
import sys
sys.maxsize

최대값 + 1

오버플로우 발생하지 않고 저장됨

In [ ]:
9223372036854775807 + 1

### 시퀀스
문자열

### 문자열의 슬라이싱
[인덱스 시작: 인덱스 끝: 스텝]
스텝은 default로 1의 값을 갖는다.

In [ ]:
s_val = 'hello python!'
s_val[0:3]

'hel'

1부터 끝까지

In [ ]:
s_val[1:]

0부터 3까지

In [ ]:
s_val[:3]

In [ ]:
s_val[1]

1이상 3이하

In [ ]:
s_val[1:3]

In [ ]:
s_val

In [ ]:
s_val[:]

In [ ]:
s_val[-1]

0인덱스 부터 2스텝

In [ ]:
s_val[::2]

'hlopto!'

In [ ]:
s_val[::-2]

역순

In [ ]:
s_val[::-1]

### 문자열 연결하기

In [ ]:
s_val2='hello' + ' ' + 'python!'
s_val2

In [ ]:
s_val3 = 'win' * 3
s_val3

문자열 변경할 때 슬라이싱과 연결하기 사용

In [ ]:
s_val3 = 'hello python!'
s_val4 = 'H' + s_val3[1:]
s_val4

문자열의 길이는 len()내장함수를 사용

In [ ]:
len(s_val4)

'python'가 문자열 s_val4안에 있는가?

In [ ]:
'python' in s_val4

In [ ]:
'python' not in s_val4

여러 줄 문자열은 작은 따옴표나 큰따옴표를 세 번 연속해서 입력

In [ ]:
s_val5 ='''돈이 다 무슨 소용인가? 사람이 아침에 일어나고 밤에 잠자리에
들며 그 사이에 하고 싶은 일을 한다면 그 사람은 성공한 것이다.'''
s_val5

키보드로 데이터 입력 받기

In [ ]:
input("3+2?")

2

In [ ]:
a=input("첫번째정수 입력:")

In [ ]:
b=input("두번째정수 입력:")

In [ ]:
c = int(a) + int(b)
print(c)

In [ ]:
type(a)

In [ ]:
int(a)

### 문자열 서식지정  
어떤 문서양식을 만들어 놓고 빈칸에 필요한 내용을 채워서 문서를 지정한다.

In [ ]:
s_val6='python'
s_val7=83.5
print('%s의 점수는 %f입니다.' %(s_val6, s_val7)) #python 1, 2방식

In [ ]:
'Hello, {0} {1} {2}'.format('Python','Script', 3.6)

순서 바꾸기

In [ ]:
'Hello, {0} {2} {1} '.format('Python','Script', 3.6)

안 적으면 format 지정순으로

In [ ]:
'Hello, {} {} {} '.format('Python','Script', 3.6)

sep(seperator의 약자)  
항목 사이에 삽입할 문자열을 지정

In [ ]:
hp1 = '010'
hp2 = '2531'
hp3 = '9234'
print(hp1, hp2, hp3,sep = '-')

()

In [ ]:
print('korea'.lower())
print('korea'.upper())
print('korea'.swapcase())
print('KOREA'.swapcase())
print('we are the world'.title())
print('we are the world'.capitalize())

In [ ]:
print('KORea'.islower()) #모든 문자가 소문자인가?
print('korea'.islower())

In [ ]:
print('KORea'.isupper()) # 모든 문자가 대문자인가?
print('KOREA'.isupper())

In [ ]:
print('we are the world'.find('are'))
print('we are the world'.find('WORLD'))
print('we are the world'.index('are'))
#print('we are the world'.index('WORLD'))

In [ ]:
print('we are the world'.join('**'))

In [ ]:
print('.').join(['ab','pq','rs']))

### isalnum()
문자열이 영어, 한글 혹은 숫자로 되어있으면 참 리턴, 아니면 거짓 리턴.

### isdecimal()

주어진 문자열이 숫자로 되어있는지 검사하는 함수

In [ ]:
print('we are'.isalnum())
print('weare'.isalnum())
print('we123'.isalnum())
print('we123'.isdecimal())
print('123'.isdecimal())

In [ ]:
print('we are the world'.split())

### 리스트(List)

In [ ]:
l_val=[10,20,30]
l_val

[10, 20, 30]

In [ ]:
type(l_val)

list

다양한 타입을 함께 포함할 수 있다.

In [ ]:
l_val2=[10, 'python', 80.5, True] #타입이 다른 것들 리스트에 넣을 수 있음
l_val2

[10, 'python', 80.5, True]

In [ ]:
l_val3=[5,10,15,20,25]
l_val3[0]

5

In [ ]:
l_val3[-1]

25

In [ ]:
l_val3[0:2]

[5, 10]

In [ ]:
l_val3[::2]

[5, 15, 25]

In [ ]:
l_val3 + l_val3 + l_val3

[5, 10, 15, 20, 25, 5, 10, 15, 20, 25, 5, 10, 15, 20, 25]

In [ ]:
l_val3 + [30, 35]

[5, 10, 15, 20, 25, 30, 35]

In [ ]:
l_val3*3

[5, 10, 15, 20, 25, 5, 10, 15, 20, 25, 5, 10, 15, 20, 25]

In [ ]:
5 in l_val3 #멤버 검사

True

In [ ]:
l_val4 = ['apple','banana',100,200]
l_val4[2] = 300
l_val4

['apple', 'banana', 300, 200]

---

In [ ]:
l_val5=['apple','banana',100,200]
l_val5[0:2]=[1,2] #지정한 인덱스[0:2]범위의 요소를 [1,2]로 변경한다.
l_val5

[1, 2, 100, 200]

In [ ]:
l_val5[0:2]=[100] #크기가 달라도 된다.
l_val5

[100, 100, 200]

---

In [ ]:
l_val6 = ['apple','banana',100,200]
l_val6[0:2]=[] #요소 2개를 삭제한다.
l_val6

[100, 200]

In [ ]:
l_val7 = [2,4,6,8]
del l_val7[0] #0번째 인덱스를 삭제한다.
l_val7

[4, 6, 8]

In [ ]:
l_val8=[3,6,9]
l_val8[1:1]=['red','green']
l_val8

[3, 'red', 'green', 6, 9]

In [ ]:
l_val8=[3,6,9]
l_val8[1]=['red','green']
l_val8

[3, ['red', 'green'], 9]

In [ ]:
# 확장슬라이싱을 사용할 때는 왼쪽과 오른쪽 요소 개수가 같아야 한다.
l_val9=[2,4,6,8]
l_val9[::2]=[-1,-2,-3,-4] #ㅣ_val9[::2]결과는 [2,6]
l_val9

ValueError: ignored

In [ ]:
l_val10=[10,20,30]
l_val10=['start',l_val10,'end']
l_val10

['start', [10, 20, 30], 'end']

In [ ]:
# 한 변수에서 데이터를 각각 꺼내 오는 것을 언패킹(unpacking)이라 한다.
a=['foo','bar',4,5]
x,y,z,w=a
print(x,y,z,w)

foo bar 4 5

리스트 메소드

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#insert() 리스트의 특정 위치에 요소 삽입
test1=[1,2,3]
test1.insert(1,10) #두번째 위치에 10 삽입
test1

[1, 10, 2, 3]

In [ ]:
#append() 리스트 끝에 요소 삽입
test1=[1,2,3]
test1.append(5)
test1

[1, 2, 3, 5]

In [ ]:
#clear() 리스트 내용 모두 삭제
test1=[1,2,3]
test1.clear()
test1

[]

In [ ]:
#del() 리스트의 특정 위치 요소 삭제
test1=[1,2,3]
del(test1[1])
test1

[1, 3]

In [ ]:
#pop() 리스트의 마지막 요소 출력 후 삭제
test1=[1,2,3]
test1.pop()
test1

[1, 2]

In [ ]:
#pop(i) i번째 요소를 삭제하고 반환한다.
test1=[1,2,3]
test1.pop(1)
test1

[1, 3]

In [ ]:
#count() 리스트 내 특정 요소의 개수
test1 = [1,2,3,1,2,]
test1.count(1)

2

In [ ]:
test1.count(3)

1

In [ ]:
#copy() 리스트 복사
test1=[1,2,3]
test2=test1.copy()
test2

[1, 2, 3]

In [ ]:
#extend()  리스트 병합
test1=[1,2,3]
test2=[7,8,9]
test1.extend(test2)
test1

[1, 2, 3, 7, 8, 9]

In [ ]:
#index() 리스트의 특정 요소 검색
test1=[1,2,3]
test1.index(3) #요소의 위치 리턴

2

In [ ]:
test1.index(4) # 일치하는 요소가 없으면 에러를 리턴해서 잘 사용되지 않음

ValueError: ignored

In [ ]:
#sort() 정렬
test1=[8,1,7,2,6,3,10,4,9,5]
test1.sort() #default 오름차순 정렬
test1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#reverse() 리스트 역순 출력
test1=[8,1,7,2,6,3,10,4,9,5]

In [ ]:
l_val9=['red','green','blue','white','black']
print(l_val9.append("orange"))
print(l_val9)
print(l_val9.extend(['yello','aqua']))
print(l_val9)
l_val9.extend('purple')
print(l_val9)
l_val9.insert(0,"gray")
print(l_val9)
l_val9.remove("p")
print(l_val9)
l_val9.pop()
print(l_val9)
l_val9.pop(0)
print(l_val9)
print(l_val9.index("blue"))
print(l_val9.count("white"))
print(l_val9.sort())
print(l_val9)
print(l_val9.reverse())
print(l_val9)
l_val10=l_val9.copy()
print(l_val9)
print(l_val10)
l_val10[0]='gray';
print(l_val9)
print(l_val10)
l_val10.clear()
print('clear',l_val10)

None
['red', 'green', 'blue', 'white', 'black', 'orange']
None
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua']
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'p', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'p', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'u', 'r', 'p', 'l']
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'u', 'r', 'p', 'l']
2
1
None
['aqua', 'black', 'blue', 'green', 'l', 'orange', 'p', 'r', 'red', 'u', 'white', 'yello']
None
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['gray', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
clear []

In [ ]:
a = ['red','blue']
b = a
print(a,b)
b[0]='white'
print(a,b)

['red', 'blue'] ['red', 'blue']
['white', 'blue'] ['white', 'blue']

In [ ]:
a = ['red','green']
b = []
print(a,b)

b.extend(a)
print(a,b)

b[0]='black'
print(a,b)

['red', 'green'] []
['red', 'green'] ['red', 'green']
['red', 'green'] ['black', 'green']

In [ ]:
a=['red', 'green']
b=a.copy();
print(a,b)
b[0]='black'
print(a,b)

['red', 'green'] ['red', 'green']
['red', 'green'] ['black', 'green']

In [ ]:
a=[['red', 'green']]
b=a.copy();
print(a,b)
b[0][0]='black'
print(a,b)

[['red', 'green']] [['red', 'green']]
[['black', 'green']] [['black', 'green']]

In [ ]:
import copy

a=[['red', 'green']]
b=copy.deepcopy(a);
print(a,b)
b[0][0]='black'
print(a,b)

[['red', 'green']] [['red', 'green']]
[['red', 'green']] [['black', 'green']]

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

###튜플(tuple)
변경이 불가능한 순서(sequence)가 있는 자료형이다.
튜플은 소괄호로 표현한다.()

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
def test():
  return 2,3 # 넘겨주는 값은 하나임
print(test())

(2, 3)

In [ ]:
# 값 사이에 콤마(,)를 구분하여 사용한다.
t_val=(10,20,30) # 생략이 가능하긴 하지만 튜플 사용할 땐 생략하지 말기
t_val

(10, 20, 30)

In [ ]:
type(t_val)

tuple

In [ ]:
#괄호()는 수식에서의 ()와 혼동될 가능성이 있기 때문에 주의해야 한다.
#예를 들어, t_val2=(1)은 t_val=1로 해석된다.
t_val2=(1)
type(t_val2)

int

In [ ]:
t_val2=(1,) #데이터가 한개일때는 반드시 쉼표가 있어야 한다.
t_val2=1, #괄호는 없어도 쉼표는 있어야 한다.
type(t_val2)

tuple

In [ ]:
#List와 비슷하지만, 한 번 생성되면 Tuple은 변경할 수 없다.
t_val3=(1,2,3)
t_val3[0]=100

TypeError: ignored

In [ ]:
# 다양한 타입을 함께 포함할 수 있다.
t_val4=(10,'python',80.5,True)
t_val4

(10, 'python', 80.5, True)

In [ ]:
# 인덱스를 이용해서 튜플의 각 원소에 접근할 수 있다. (1)
t_val5=(5,10,15,20,25)
len(t_val5) #데이터의 개수를 리턴

5

In [ ]:
t_val5[0] #0인덱스 요소를 리턴

5

In [ ]:
# 인덱스를 이용해서 튜플의 각 원소에 접근할 수 있다. (2)
t_val5[-1] #음수를 사용하면 요소 마지막부터 찾음

25

In [ ]:
t_val5[0:2] #슬라이싱

(5, 10)

In [ ]:
t_val5[::2] #확장 슬라이싱, 파이썬 2.3이상

(5, 15, 25)

In [ ]:
#+,*연산자를 사용하여 이어 붙일 수도 반복할 수도 있다.
t_val5 + t_val5 + t_val5

(5, 10, 15, 20, 25, 5, 10, 15, 20, 25, 5, 10, 15, 20, 25)

In [ ]:
t_val5+(30,35)

(5, 10, 15, 20, 25, 30, 35)

In [ ]:
t_val5*3

(5, 10, 15, 20, 25, 5, 10, 15, 20, 25, 5, 10, 15, 20, 25)

In [ ]:
# 튜플에 특정값이 있는지 검사할 수 있다.
5 in t_val5 #멤버 검사

True

In [ ]:
#튜플은 검색에 관련된 메서드 2개(count,index)를 갖는다.
t_val6=(1,2,3,2,2,3)
t_val6.count(2) #2가 몇 개 있는가?

3

In [ ]:
t_val6.index(2) #첫번째 2의 인덱스는?

1

In [ ]:
t_val6.index(2,2) #첫번째 2의 인덱스를 2 위치부터 검색해 나간다.

3

In [ ]:
#튜플을 중첩해서 사용할 수 있다.
t_val7=('python','hello!!')
t_val8=(t_val7, (1,2,3))
t_val8

(('python', 'hello!!'), (1, 2, 3))

In [ ]:
#한 변수에 데이터를 각각 꺼내 오는 것을 언패킹(unpacking) 지원(1)
t_val9=(10,20,30)
l,m,n=t_val9 #t_val9의 각 원소들이 l,m,n에 저장된다.
print(l,m,n)

10 20 30

In [ ]:
#한 변수에 데이터를 각각 꺼내 오는 것을 언패킹(unpacking) 지원(2)
t_val10=((1,2),(3,4))
(x1,y1),(x2,y2)=t_val10
(x1,y1)

(1, 2)

In [ ]:
(x2,y2)

(3, 4)

In [ ]:
#확장된 언패킹을 이용한 자유로운 형태 이용(1)
t_val12=(1,2,3,4,5)
a,*b=t_val12
print(a,b)

1 [2, 3, 4, 5]

In [ ]:
print(type(a),type(b))

<class 'int'> <class 'list'>

In [ ]:
#확장된 언패킹을 이용한 자유로운 형태 이용(2)
*a, b=t_val12 # *모든?
print(a,b)

[1, 2, 3, 4] 5

In [ ]:
a,b,*c=t_val12
print(a,b,c)

1 2 [3, 4, 5]

In [ ]:
#확장된 언패킹을 이용한 자유로운 형태 이용(3)
a,*b,*c=val12 #*a와 같은 식의 표현은 나머지 전부를 의미한다. 그래서 * 기호는 한 번만 사용해야 한다.

SyntaxError: ignored

###튜플과 리스트의 공통점
임의의 객체를 저장할 수 있다는 것과 순서(sequence) 자료형이라는 것이다.

###튜플과 리스트의 차이점
튜플은 변경 불가능한 순서(sequence) 자료형이다.
튜플은 함수의 가변 인수를 지원한다.

In [ ]:
#리스트와 튜플은 list()와 tuple()내장함수를 사용하여 상호변환 가능(1)
t_val13=(1,2,3,4,5)
l_val=list(t_val13)
l_val[0]=100
l_val

[100, 2, 3, 4, 5]

In [ ]:
type(l_val)

list

In [ ]:
#리스트와 튜플은 list()와 tuple()내장함수를 사용하여 상호변환 가능(2)

In [ ]:
t_val14=tuple(l_val)
t_val14

(100, 2, 3, 4, 5)

In [ ]:
type(t_val14)

tuple

반드시 튜플을 사용하는 3가지 경우

In [ ]:
#1.함수에 있어서 하나 이상의 값을 반환할 때
def calc(a,b):
  return a+b, a*b #튜플을 반환한다. 괄호 생략
  
x,y=calc(5,4)
print(x,y)

9 20

In [ ]:
#2.튜플에 있는 값들을 함수의 인수로 사용할 때

def calc(*args):
    print(args)

args = (4,5)

calc(*args)

(4, 5)

In [ ]:
def calc(a,b):
    print(a,b)

args = (4,5)

calc(*args)

4 5

In [ ]:
#3. python 2형식의 서식 문자열에 데이터를 공급할 때
"%d %f %s" % (12,3.4, 'helo')

'12 3.400000 helo'

### 집합(sets)
1. 집합은 여러 값을 순서 없이 그리고 중복 없이 모아 놓은 자료형이다.  
2. python에서는 set과 frozenset 두 가지 집합 자료형을 제공한다.  
3. set은 변경 가능한 집합이고, frozenset은 변경 불가능한 집합이다.  
4. set은 {}중괄호나 set()으로 표현한다.

- 멤버십(원소와 집합 사이의 귀속관계)검사, 시퀀스에서의 중복제거와 교집합, 합집합, 차집합같은 수학연산 수행에 사용된다.  
- 다른 시퀀스와 마찬가지로, x in set, len(set), 컴프리헨션과 같은 기능을 제공하지만, 삽입순서를 기록하지는 않는다. 따라서 인덱싱이나 슬라이싱은 사용이 불가능하다.  
- 반복가능(Iterable)한 객체로 부터 집합을 만들 수 있지만 모든 데이터가 원소로 사용할 수 있는 것은 아니다. 해시가능(Hashable)이면서 변경불가능한 자료형만이 집합의 원소로 사용 가능하다.

In [ ]:
# set() 메소드
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
s={} #dictionary
s

{}

In [ ]:
s=set()
s

set()

In [ ]:
type(s)

set

In [ ]:
s={}
print(s)
print(type(s))

{}
<class 'dict'>

In [ ]:
s=set()
print(s)
print(type(s))

set()
<class 'set'>

In [ ]:
set((3,1,2)) #튜플로부터 집합을 만든다. 오름차순으로 생성된다.

{1, 2, 3}

In [ ]:
set([3,1,2]) #리스트(변경못함)로부터 집합을 만든다. 오름차순으로 생성된다.

{1, 2, 3}

In [ ]:
set('python') #문자열로부터 집합을 만든다. 오름차순으로 생성된다.

{'h', 'n', 'o', 'p', 't', 'y'}

In [ ]:
set((3,1,2,3,1,2,3,1,2)) #중복된 원소는 한 번만 표현한다.

{1, 2, 3}

In [ ]:
set({'one':1, 'two':2}) #사전의 반복자는 키 값을 반환한다.

{'one', 'two'}

In [ ]:
a=[1,2,3]
b=[4,5,6]
{a,b} #리스트는 변경이 가능하므로 집합을 생성할 때 Error가 발생함

TypeError: ignored

In [ ]:
a=(1,2,3) #튜플
b=(4,5,6)
c={a,b}
print(c)
print(type(c)) #값이 없을 땐 set()으로 사용

{(1, 2, 3), (4, 5, 6)}
<class 'set'>

frozenset
1. 값을 변경하지 않는 범위에서 set객체와 동일하게 동작한다.  
2. frozenset객체의 생성은 집합을 포함한 반복 가능한 자료형으로부터 가능하다.
3. frozen()은 frozenset()으로 생성한다.

In [ ]:
#frozen 메소드
dir(frozenset)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [ ]:
f=frozenset();
f

frozenset()

In [ ]:
f_val=frozenset([1,2,3,4,5])
f_val

frozenset({1, 2, 3, 4, 5})

### 사전(dict)
1. 특정 키를 주면 이와 관련된 값을 돌려주는 내용 기반으로 검색하는 자료형이다.  
2. 데이터의 저장순서가 없다.  
3. 내부적으로 해시 기법을 사용하기 때문에 검색 속도가 빠르다.  
4. key-value형식으로 저장을 하기 때문에 key를 이용해서 value에 접근한다.  
5. key값은 중복을 허용하지 않는다.

In [ ]:
#dict 메소드
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
#사전(dic)생성은 {}나 dict()함수를 사용해서 생성할 수 있다.
d={'one':1, 'two':2} #{}
d

{'one': 1, 'two': 2}

In [ ]:
type(d)

dict

In [ ]:
d=dict(one=1, two=2) #dic()
d

{'one': 1, 'two': 2}

In [ ]:
#zip함수를 이용해서 사전(dict)을 생성할 수 있다.
keys=['one','two','three'] #시퀀스 자료형이면 된다.
values=[1,2,3]
dict(zip(keys,values))

{'one': 1, 'two': 2, 'three': 3}